<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Personal Task Manager | Python Web App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>

        <ul class="navbar-links">
            <li><a href="{{ url_for('index') }}" class="{% if request.path == url_for('index') %}active{% endif %}">Home</a></li>
            <li><a href="{{ url_for('add_task') }}" class="{% if request.path == url_for('add_task') %}active{% endif %}">Add Task</a></li>
            <li><a href="#">Completed Tasks</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </div>
</header>

<!-- Main Content -->
<main class="container">
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2025. Built by Muhammad Ismani Helmi LAS012125</p>
</footer>

</body>
</html>
